# Compiled source #
###################
*.pyc

# Dependencies #
################
.installed.cfg
/libs/

# Logs and databases #
######################
*.log

# Terraform #
#############
.terraform
*tfstate*
*.tfvars

# Other #
#########

*.log
tmp/*
!.keep

code/**/vendor/*
code/*/report/*
*/build/*
